{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}
<div class="row" id="head">
  <div class="col-xs-7 col-xs-offset-1 gutter-bottom-1 year" id="webintro" data-child="intro">
    <p>Dean Levin — 1988</p>
    <p>Johannesburg, South Africa</p>
    <p>Based in New York City</p>
  </div>

  <div id="nav" class="col-xs-2">

    <p class="allwork">1,</p>

    <p class="year" id="fourteen" data-child="zone14">14,</p>

    <p class="year" id="fifteen" data-child="zone15">15,</p>

    <p class="year" id="sixteen" data-child="zone16">16,</p>
    
    <p class="year" id='seventeen'>17,</p>

    <p class="year" id="fritz" data-child="chowder">
      clams
    </p>

    <p class="year">CV</p>
    <p>Books</p>
    <p>Contact</p>
  </div>
</div>

    


<div class="zone">

  <div class="col-xs-10 col-xs-offset-1" id="intro" data-active="true">
      <p>
      {{ cms.introtext.paragraph_text }}
      <p>
    </div>
  
    <div id="zone14" class="row">

        <div class="buttons col-xs-10 col-xs-offset-1">
          <a class="left" onclick="plusDivs(-1)">&#60;</a>
          <a class="right" onclick="plusDivs(+1)">&#62;</a>
        </div>

          {% for row in cms.gallery14.grid %}
          <div class="myCap col-xs-10 col-xs-offset-1">
               <li>
                      {{ row.wysiwyg_text|safe }}
                </li>

          </div>
          {% endfor %}

          {% for image in cms.gallery14.gallery %}
          <div class="mySlides col-xs-10 col-xs-offset-1">

             <img src="{{ image|imageSize(1200,1200) }}">
             
          </div>
          {% endfor %}

        </div>

    </div>

    <div id="zone15" class="row">

        <div class="buttons col-xs-10 col-xs-offset-1">
          <a class="left" onclick="plusDivs(-1)">&#60;</a>
          <a class="right" onclick="plusDivs(+1)">&#62;</a>
        </div>

          {% for row in cms.gallery15.grid %}
          <div class="myCap col-xs-10 col-xs-offset-1">
               <li>
                      {{ row.wysiwyg_text|safe }}
                </li>

          </div>
          {% endfor %}

          {% for image in cms.gallery15.gallery %}
          <div class="mySlides col-xs-10 col-xs-offset-1">

             <img src="{{ image|imageSize(1200,1200) }}">
             
          </div>
          {% endfor %}
    </div>

    <div id="chowder">
      bitches
    </div>
  </div>






<!--
/**
To add a new toggle:

 1. Add an html element that when you click it, it toggles    something.  For example your list with 14, 15.
  2. Give this element the class 'year'
  3.  Give it 'data-child="CHILDID"' where CHILDID is the id of the element you want to toggle on and off every time you click the parent.
  4. make sure the child element has the same id as the id you're giving the parent's data-child
  -->
  























